@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="text-muted fw-bold">Metzgerei Sorty</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Ein Fehler ist aufgetreten.
    <a href="" class="reload">Neu laden</a>
    <a class="dismiss">🗙</a>
</div>